<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="~/Security/Login.aspx" defaultUrl="~/Default.aspx" />
    </authentication>

    <!--<authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>-->

    <membership defaultProvider="SqlMembership">
      <providers>
        <add
        name="SqlMembership"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="HsuDB"
        applicationName="OregonMobileHealthCare"
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="true"
        requiresUniqueEmail="true"
        passwordFormat="Hashed" />
      </providers>
    </membership>

    <roleManager defaultProvider="SqlRoles" enabled="true">
      <providers>
        <add name="SqlRoles"
             type="System.Web.Security.SqlRoleProvider"
             applicationName="OregonMobileHealthCare"
             connectionStringName="SqlSecurityDB" />
      </providers>
    </roleManager>

    <siteMap defaultProvider="SecuredSiteMap">
      <providers>
        <add name="SecuredSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <connectionStrings>
    <add name="SqlSecurityDB" connectionString="Data Source=aura.students.cset.oit.edu;Initial Catalog=YuHsu;Persist Security Info=True;User ID=YuHsu;Password=YuHsu"/>
    <add name="HsuDB" connectionString="Data Source=aura.students.cset.oit.edu;Initial Catalog=YuHsu;Persist Security Info=True;User ID=YuHsu;Password=YuHsu" />
    <!--<add name="HsuDB" connectionString="server=otk-dbdev-01;database=hsu;user id=hsu;password=3005" />
    <add name="Hsu2DB" connectionString="Data Source=otk-dbdev-01;Initial Catalog=hsu;Persist Security Info=True;User ID=hsu;Password=3005" />-->
  </connectionStrings>

  <location path="Security/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Account/Logout.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Account">
    <system.web>
      <authorization>
        <deny users="?"/>
        <!--<allow users="*"/>-->
      </authorization>
    </system.web>
  </location>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Services/ServiceManager.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>